{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 2%",
            "last 2 versions"
          ]
        },
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
