* text=auto

/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
CONTRIBUTING.md export-ignore
phpunit.xml.dist export-ignore
ziggy-banner.png export-ignore
