language: php
php:
  - '7.2'
  - '7.3'
git:
  depth: 10
install: 
  - composer install --no-interaction --no-suggest
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - npm ci
script:
  - phpunit
  - npm run build
  - npm test
cache:
  directories:
  - $HOME/.composer/cache
